.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 4rem;
  min-height: 100vh;
  font-family: DigitalCounter;
  color: red;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

@font-face {
  font-family: "DigitalCounter";
  src: url("../asset/digital_counter_7_italic.ttf");
}

.title {
  font-size: 120px;
}

.subTitle {
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  color: grey;
  margin-bottom: 60px;
}
